.t-Body-main{
   /* background-image: url('./assets/img/job562-nunoon-05.jpg');*/
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


.child {
  position: absolute;
  top: 40%;
  left: 35%;
  margin: -25px 0 0 -25px; /* apply negative top and left margins to truly center the element */
  display: inline-block;
  width: 40%;

}