<body class="t-Body-main">
   
    <div class="page-header" data-parallax="true" style="background-image: url('./assets/img/back.png');">

         <div class="container" style = " position:relative;">
         <div class="child">
          <form class="form-signin"   #registrationform="ngForm" (ngSubmit)="userLogin()">
            <h2 class="form-signin-heading" style="color:white">Please sign in</h2>
            <p>
              <label for="username" class="sr-only">Username</label>
              <input type="text" id="username" name="email" class="form-control" placeholder="Username" required autofocus [(ngModel)]="user.email">
            </p>
            <p>
              <label for="password" class="sr-only">Password</label>
              <input type="password" id="password" name="password" class="form-control" placeholder="Password" required [(ngModel)]="user.password">
            </p>
    <input name="_csrf" type="hidden" value="4d35a542-0b6d-41a3-b082-ecf2ca85122f" />
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          </form>
          <br>
          <br>
          <a href="/#/registration" class="btn btn-lg btn-warning btn-block">SIGN UP</a>


    </div>
    </div>
    </div>
    </body>
    
    