


<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/job562-nunoon-05.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>LES ANIMAUX ONT UN MERITE :</h1>
            <h3>ILS NE DECOIVENT JAMAIS</h3>
            <br />
            <a href="https://www.youtube.com/watch?v=aIZsVuaUWB4" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a>
            
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">À propos de notre site</h2>
                <h5 class="description">PetsPlanet est une plateforme qui facilite le processus d'adoption d'animaux domestiques en permettant à ces utilisateurs de poster et de consulter les animaux domestiques disponnibles sur notre site</h5>
                <br>
                
            </div>
        </div>
        <br/><br/>
        
        <div class="row" >
            <div class="col-md-6 ">
                <div class="info" >
                    <div class="icon icon-danger">
                        <img src="assets/cat.png" >
                    </div>
                    <div class="description">
                        <h4 class="info-title">CHATS</h4>
                        <p class="description">Spend your time generating new ideas. You don't have to think of implementing.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">Trouver un chat</a>
                        <a href="#pkp" class="btn btn-link btn-danger">Poster un chat</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="info">
                    <div class="icon icon-danger">
                        <img src="assets/img/DOGs.png" >
                    </div>
                    <div class="description">
                        <h4 class="info-title">CHIENS</h4>
                        <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">Trouver un chien</a>
                        <a href="#pkp" class="btn btn-link btn-danger">Poster un chien</a>
                    </div>
                </div>
            </div>
        
           
</div>



    <div class="section landing-section" >
        <div class="container" style="background-color:black;">
            <div class="row" >
                
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">Keep in touch?</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Name" (focus)="focus=true" (blur)="focus=false" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false" >
                                </div>
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        
        </div>
    </div>
</div>
